{% extends 'base.jinja2' %}

{% block body %}
<main>
	known bugs:
	<ol>
		<li>global modifiers to gem levels ("+1 to level of all intelligence gems")</li>
		<li>gem quality (arrogance in particular)</li>
		<li>ascendancy mods are not scaled by aura effect</li>
		<li>duelist champion ascendancies (ascendant champion works fine)</li>
		<li>timeless jewels (militant faith in particular)</li>
	</ol>
</main>
{% endblock body %}
