# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'
        cache: 'pip'
    - run: pip3 install --progress-bar=off --requirement requirements.txt ruff mypy
    - run: sudo apt-get install unzip
    - name: download data
      run: |
        set -v
        mkdir data
        cd data
        wget -q https://raw.githubusercontent.com/ltogniolli/RePoE/master/RePoE/data/gems.json
        wget -q https://raw.githubusercontent.com/ltogniolli/RePoE/master/RePoE/data/stat_translations/aura_skill.json
        wget -q https://raw.githubusercontent.com/ltogniolli/RePoE/master/RePoE/data/stat_translations/curse_skill.json
        wget -q https://raw.githubusercontent.com/ltogniolli/RePoE/master/RePoE/data/stat_translations/passive_skill.json
        wget -q https://raw.githubusercontent.com/ltogniolli/RePoE/master/RePoE/data/stat_translations/buff_skill.json
        wget -q https://raw.githubusercontent.com/grindinggear/skilltree-export/master/data.json -O skill_tree.json
        wget -q https://raw.githubusercontent.com/PathOfBuildingCommunity/PathOfBuilding/dev/src/Data/TimelessJewelData/LegionPassives.lua
        wget -q https://raw.githubusercontent.com/Liberatorist/TimelessEmulator/master/TimelessEmulator/Build/Output/TimelessJewels/TimelessJewels.zip
        unzip TimelessJewels.zip -d TimelessJewels
    - run: python3 -m unittest --verbose
    - run: mypy .
    - run: ruff check --format=github .
